/*doc
---
title: Reactions
name: 01-reactions
category: Components
---

```html_example
<div class="reactions">
  <div class="reactions__images">
    <img class="reactions__image" src="/images/reactions/point-up.png" alt="" />
    <img class="reactions__image" src="/images/reactions/thumbs-down.png" alt="" />
    <img class="reactions__image" src="/images/reactions/smile.png" alt="" />
  </div>
  <span class="reactions__total">10</span>
</div>
```
*/

@import '../generic/color-scheme';

.reactions {
  align-items: center;
  display: flex;
  flex-direction: row;

  &__images {
    display: flex;
    flex-direction: row;
    margin-right: .5rem;
  }

  &__image {
    height: 20px;
    width: 20px;
  }

  &__total {
    color: black;
  }
}

.reactions-selector {
  background: $color-white;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  &__item {
    cursor: pointer;
    flex: 1 0 calc(25%);
    padding: 5px;
    text-align: center;

    img {
      transition: transform .1s ease-in-out;
    }

    &:hover {
      img {
        transform: scale(1.2, 1.2);
        transition: transform .1s ease-in-out;
      }
    }
  }
}
