/*doc
---
title: Icon with text
name: 01-icon-with-text
category: Components
---

Icon with bottom text label

```html_example
<a class="icon-link">
  <span class="sn-icon sn-chat"></span>
  <p>Zprávy</p>
</a>
<a class="icon-link">
  <span class="sn-icon sn-circle-plus text-color-brand"></span>
  <p>Vytvořit</p>
</a>
<a class="icon-link">
  <img src="../images/ostrava/organizer/title.jpg" alt="" />
  <p>Moje</p>
</a>
```
*/

.icon-link {
  align-items: center;
  background: transparent;
  border: 0;
  color: $color-gray-dark-1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-width: 100px;
  position: relative;
  text-align: center;

  &:focus {
    outline: 0;
  }

  @include media-breakpoint-down(sm) {
    min-width: 42px;
  }

  @if ($site-identifier != 'sportnect') {
    @include media-breakpoint-down(xs) {
      min-width: initial;
    }
  }

  &:hover {
    color: $color-neutral !important;
    text-decoration: none;

    > * {
      color: $color-neutral;
    }
  }

  img {
    border-radius: 50%;
    display: block;
    height: 30px;
    padding: 2.5px;
    width: 30px;
  }

  p {
    font-size: $font-size-sm;
    margin-bottom: 0;
    padding: 0 10px;

    &::first-letter {
      text-transform: capitalize;
    }

    @include media-breakpoint-down(sm) {
      font-size: 9px;
      padding: 0 2px;
    }
  }
}
